/.Accion.java._trace
/.AccionAgarrar.java._trace
/.AccionIrAHabitacion.java._trace
/.AccionUsar.java._trace
/.Habitacion.java._trace
/.Juego.java._trace
/.Laberinto.java._trace
/.Participante.java._trace
